/* =====================================================
   ICON MAPPING
===================================================== */

/* Social / Platforms */
.icon-google::before {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/google.svg");
}

.icon-facebook::before {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/facebook.svg");
}

.icon-x::before {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/x.svg");
}

.icon-riotgames::before {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/riotgames.svg");
}

.icon-cosmarket::before {
    background-image: url("https://cdn-icons-png.flaticon.com/512/81/81475.png");
}

.icon-groomer::before {
    background-image: url("https://pbs.twimg.com/media/Fr30OW6aUAALKHB.jpg");
}

.icon-github::before {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/github.svg");
}

.icon-linkedin::before {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/linkedin.svg");
}

.icon-spotify::before {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/spotify.svg");
}

.icon-applemusic::before {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/applemusic.svg");
}

.icon-onlyfans::before {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/onlyfans.svg");
}

.icon-phub::before {
    top: 78%;
    left: 4%;
    width: 40px;
    height: 40px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Pornhub-logo.svg/1280px-Pornhub-logo.svg.png");
}

/* Brands / Misc */
.icon-jollibee::before {
    background-image: url("https://companieslogo.com/img/orig/JBFCF-f8098eac.png?t=1720244492");
}

.icon-settings::before {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/framework.svg");
}

.icon-fingerprint::before {
    background-image: url("https://uxwing.com/wp-content/themes/uxwing/download/signs-and-symbols/finger-print-icon.png");
}

.icon-pdf::before {
    background-image: url("https://www.svgrepo.com/show/452084/pdf.svg");
}

/* Payments */
.icon-paypal::before {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/paypal.svg");
}

.icon-visa::before {
    top: 80%;
    left: 4%;
    width: 35px;
    height: 35px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d6/Visa_2021.svg/960px-Visa_2021.svg.png");
}

/* Identity / Info */
.icon-id::before {
    background-image: url("https://uxwing.com/wp-content/themes/uxwing/download/communication-chat-call/id-card-color-icon.png");
}

.icon-age::before {
    background-image: url("https://uxwing.com/wp-content/themes/uxwing/download/signs-and-symbols/no-18-plus-age-restriction-icon.png");
}

.icon-mcdonalds::before {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/mcdonalds.svg");
}

.icon-tacobell::before {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/tacobell.svg");
}

.icon-burgerking::before {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/burgerking.svg");
}

.icon-starbucks::before {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/starbucks.svg");
}

.icon-pandesal::before {
    background-image: url("https://seasiderecipes.com/wp-content/uploads/malunggay-pan-de-sal-recipe-500x500.jpg");
}

.icon-kfc::before {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/kfc.svg");
}

.icon-subway::before {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/subway.svg");
}

.icon-ikea::before {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/ikea.svg");
}

.icon-duolingo::before {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/duolingo.svg");
}

.icon-winrar::before {
    background-image: url("https://cdn.freebiesupply.com/logos/large/2x/winrar-1-logo-png-transparent.png");
}

.icon-wikipedia::before {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/wikipedia.svg");
}

.icon-internetexplorer::before {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/internetexplorer.svg");
}

.icon-pldt::before {
    background-image: url("https://companieslogo.com/img/orig/PHI-fc6400c0.png?t=1742876161");
}

.icon-globe::before {
    background-image: url("https://e7.pngegg.com/pngimages/66/112/png-clipart-globe-telecom-other-telecommunications-cebu-mobile-phones-globe-telecoms-logo-globe-text-thumbnail.png");
}

.icon-ligtas::before {
    background-image: url("https://icons.iconarchive.com/icons/iconsmind/outline/512/Angel-icon.png");
}

.icon-carrierpigeon::before {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/twitter.svg");
}

.icon-psychology::before {
    background-image: url("https://ymtsindia.com/assets/services/matrimony/expertise.svg");
}

.icon-chaos::before {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/discord.svg");
}

.icon-jackie::before {
    top: 70%;
    left: 2%;
    width: 45px;
    height: 45px;
    background-image: url("https://www.creativefabrica.com/wp-content/uploads/2019/05/Karate-580x386.jpg");
}

.icon-jnt::before {
    top: 70%;
    left: 2%;
    width: 45px;
    height: 45px;
    background-image: url("https://i.pinimg.com/474x/29/4d/14/294d1488cebbfd40db530843c96dc68e.jpg");
}

.icon-spx::before {
    top: 70%;
    left: 2%;
    width: 45px;
    height: 45px;
    background-image: url("https://brandlogos.net/wp-content/uploads/2025/03/spx_express-logo_brandlogos.net_7avqk-512x209.png");
}

.icon-barangay::before {
    background-image: url("https://staging.svgrepo.com/show/20737/certificate-diploma.svg");
}

.icon-tor::before {
    background-image: url("https://www.svgrepo.com/show/384664/detail-document-fact-info-paper.svg");
}

.icon-nso::before {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Philippine_Statistics_Authority.svg/1059px-Philippine_Statistics_Authority.svg.png");
}

.icon-utang::before {
    background-image: url("https://svgsilh.com/svg/304798.svg");
}

.icon-load::before {
    background-image: url("https://uxwing.com/wp-content/themes/uxwing/download/communication-chat-call/mobile-messages-icon.png");
}

.icon-pisowifi::before {
    background-image: url("https://static.thenounproject.com/png/1133044-200.png");
}

.icon-seen::before {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/snapchat.svg");
}

.icon-approval::before {
    background-image: url("https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/blue-like-button-icon.png");
}

.icon-microwave::before {
    top: 70%;
    left: 2%;
    width: 45px;
    height: 45px;
    background-image: url("https://static.vecteezy.com/system/resources/previews/017/784/939/non_2x/microwave-icon-on-transparent-background-free-png.png");
}